[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellGeometry"]
	path = cellGeometry
	url = https://github.com/myles-lewis/cellgeometry
[submodule "easylabel"]
	path = easylabel
	url = https://github.com/myles-lewis/easylabel
[submodule "glmmSeq"]
	path = glmmSeq
	url = https://github.com/myles-lewis/glmmseq
[submodule "locuszoomr"]
	path = locuszoomr
	url = https://github.com/myles-lewis/locuszoomr
[submodule "mcprogress"]
	path = mcprogress
	url = https://github.com/myles-lewis/mcprogress
[submodule "nestedcv"]
	path = nestedcv
	url = https://github.com/myles-lewis/nestedcv
