[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easylabel"]
	path = easylabel
	url = https://github.com/myles-lewis/easylabel
[submodule "glmmSeq"]
	path = glmmSeq
	url = https://github.com/myles-lewis/glmmseq
[submodule "nestedcv"]
	path = nestedcv
	url = https://github.com/myles-lewis/nestedcv
